.img-block{
    display: inline-block;
    margin: 0 auto;
}

.img-block img {
    width: 250px;
    height: 250px;
    margin: 8px;
}

.image-grid{
    margin: 0 auto;
}
.navbar {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}